body {
    background-color: #70E1F5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.all {
    background-color: #F4F4F4;
    width: 515px;
    height: 335px;
    display: flex;
    border-radius: 10px;
}

.image {
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: black;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
button:hover {
opacity: 0.5;}

.conten .bt {
    background-color: red;
}

h1 {
    font-size: x-large;
}

h2 {
    width: 200px;
    height: 20px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

h2 {
    font-size: medium;
}
.conten{
    padding-top: 20px;
line-height: 15px;}